// Colores

// Typography
$primary-color: #542344;
$secondary-color: #BFD1E5;
$azul-claro: #00509D;
$azul-oscuro: #003F88;
$amarillo-claro: #ffd500;


$font-primary: 'Ubuntu', sans-serif;
$font-secundary:'Bodoni Moda', serif;
$font-title: 'lucida', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.font-title{
    font-family: $font-title;
}

*{
    font-family: $font-primary;
}
.logo{
    display: flex;
}
.color-primario {
    color: $primary-color;
}
.mobile-nav-toggle i {
    color: $primary-color!important;
}
.mobile-nav a{
    color: $primary-color!important;
}
.mobile-nav-active .mobile-nav{
    height: 400px;
}
.fuente-secundaria{
    font-family: $font-secundary;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 800;
}
.bgc-secundary{
    background-color: $primary-color;
}
.bgc-primary {
    background-color: $secondary-color;
}
nav .btn-primary{
    width: 90%;
    background-color: $primary-color;
    margin: 75px 0px 0px 15px!important;
}
.nav-link{
    color: #fff;
}
nav ul li .call-to-action{
    padding: 5px 1rem;
    color: #fff!important;
}
.bg-home{
    background-color: $secondary-color;
}
section .paddingZero{
    padding: 0px!important;
}
.nav-menu .active > a, .nav-menu li:hover > a {
    color: $primary-color!important;
    text-decoration: none;
}
.services .icon {
    background: $secondary-color;
}
.icon i:hover {
    color: $primary-color!important;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: $secondary-color;
    background: #fff1ed;
}
.faq .faq-list .icon-help {
    color: $primary-color;
}
footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}
.carousel-item{
    background-color: $secondary-color;
    padding: 1rem;
}
.author-comment{
    font-size: 2rem;
    color: $primary-color;
    padding: 2rem;
}
.post-comment{
    padding: 1rem 3rem 1rem 1rem;
}
//END Pushbar
//Formato Desktop
/* Media Queries Desktop*/

@media only screen and (min-width: 1024px){

    //Header
    nav.btn.btn-primary{
        display: none;
        
    }
    nav .btn-primary {
        width: 100%;
        margin: 0px!important;
    }

}
.ekko-lightbox {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-right: 0px!important;
  }
  .ekko-lightbox-container {
    position: relative;
  }
  .ekko-lightbox-container > div.ekko-lightbox-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .ekko-lightbox iframe {
    width: 100%;
    height: 100%;
  }
  .ekko-lightbox-nav-overlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .ekko-lightbox-nav-overlay a {
    flex: 1;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    color: #fff;
    font-size: 30px;
    z-index: 100;
  }
  .ekko-lightbox-nav-overlay a > * {
    flex-grow: 1;
  }
  .ekko-lightbox-nav-overlay a > *:focus {
    outline: none;
  }
  .ekko-lightbox-nav-overlay a span {
    padding: 0 30px;
  }
  .ekko-lightbox-nav-overlay a:last-child span {
    text-align: right;
  }
  .ekko-lightbox-nav-overlay a:hover {
    text-decoration: none;
  }
  .ekko-lightbox-nav-overlay a:focus {
    outline: none;
  }
  .ekko-lightbox-nav-overlay a.disabled {
    cursor: default;
    visibility: hidden;
  }
  .ekko-lightbox a:hover {
    opacity: 1;
    text-decoration: none;
  }
  .ekko-lightbox .modal-dialog {
    display: none;
  }
  .ekko-lightbox .modal-footer {
    text-align: left;
  }
  .ekko-lightbox-loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
  }
  .ekko-lightbox-loader > div {
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
  }
  .ekko-lightbox-loader > div > div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2s infinite ease-in-out;
  }
  .ekko-lightbox-loader > div > div:last-child {
    animation-delay: -1s;
  }
  .modal-dialog .ekko-lightbox-loader > div > div {
    background-color: #333;
  }
  @-webkit-keyframes sk-bounce {
    0%,
    100% {
      -webkit-transform: scale(0);
    }
    50% {
      -webkit-transform: scale(1);
    }
  }
  @keyframes sk-bounce {
    0%,
    100% {
      transform: scale(0);
      -webkit-transform: scale(0);
    }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
  