// Colores

// Typography
$primary-color: #542344;
$secondary-color: #BFD1E5;
$azul-claro: #00509D;
$azul-oscuro: #003F88;
$amarillo-claro: #ffd500;


$font-primary: 'Ubuntu', sans-serif;
$font-secundary:'Bodoni Moda', serif;
$font-title: 'lucida', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.font-title{
    font-family: $font-title;
}

*{
    font-family: $font-primary;
}
.logo{
    display: flex;
}
.color-primario {
    color: $primary-color;
}
.mobile-nav-toggle i {
    color: $primary-color!important;
}
.mobile-nav a{
    color: $primary-color!important;
}
.mobile-nav-active .mobile-nav{
    height: 400px;
}
.fuente-secundaria{
    font-family: $font-secundary;
    font-size: 20px;
    padding: 10px 20px;
}
.bgc-secundary{
    background-color: $primary-color;
}
.bgc-primary {
    background-color: $secondary-color;
}
nav .btn-primary{
    width: 90%;
    background-color: $primary-color;
    margin: 75px 0px 0px 15px!important;
}
.nav-link{
    color: #fff;
}
nav ul li .call-to-action{
    padding: 5px 1rem;
    color: #fff!important;
}
.bg-home{
    background-color: $secondary-color;
}
section .paddingZero{
    padding: 0px!important;
}
.nav-menu .active > a, .nav-menu li:hover > a {
    color: $primary-color!important;
    text-decoration: none;
}
.services .icon {
    background: $secondary-color;
}
.icon i:hover {
    color: $primary-color!important;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: $secondary-color;
    background: #fff1ed;
}
.faq .faq-list .icon-help {
    color: $primary-color;
}
footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}
.carousel-item{
    background-color: $secondary-color;
    padding: 1rem;
}
.author-comment{
    font-size: 2rem;
    color: $primary-color;
    padding: 2rem;
}
.post-comment{
    padding: 1rem 3rem 1rem 1rem;
}
//END Pushbar
//Formato Desktop
/* Media Queries Desktop*/

@media only screen and (min-width: 1024px){

    //Header
    nav.btn.btn-primary{
        display: none;
        
    }
    nav .btn-primary {
        width: 100%;
        margin: 0px!important;
    }

   


}